@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5efef;
}

/* style of top menu part */
header{
    background-color: #2d25a0;
    background-size: 100%;
    height: 677px;
    margin-bottom: 70px;
}
nav{
    width: 1160px;
    height: 44px;
    padding-top: 42px;
    margin-left:130px;
    margin-right: 124px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
.header-part li{
    list-style: none;
}
.navigation-part li{
    margin-right: 36px;
    color: white;
}
.logo-part .fa-sign-in-alt{
    padding-right: 3px; 
}
.logo-part li{
    color: white;
}
.logout li{
    background-color: #e02c6d;
    padding: 2px 5px;
}

/* style of hero part */
.hero-part{
    display: flex;
}
.banner-info h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    margin-left: 156px;
    margin-top: 207px;
    color: white;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
    margin-top: 153px;
}
.link-button{
    background-color: #e02c6d;
    text-decoration: none;
    padding: 7px;
    margin-left: 156px;
    margin-top: 27px;
    color: white;
}
/* style of players part */
.player-part{
    width: 1050px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 27px 30px;
    margin: 0 180px;
}
.player-frame{
    border: 5px solid white;
    border-radius: 10px;
    /* box-shadow: 10px 10px 40px #e22626; */
}
.player img{
    width: 300px;
    height: 256px;
    padding: 5px;
}
.player-details{
    width: 300px;
    height: 154px;
    padding: 5px;
}
.player-detail h2{
    font-size: 28px;
}
/* style of Highlight part */
.optional-part{
    display: flex;
}
.highlight-info{
    width: 489px;
    height: 309px;
    margin-left: 182px;
    margin-top: 200px;
}
.highlight-info h3{
font-size: 48px;
font-weight: 700;
margin: 0;
}
.match-photo{
    margin-left: 66px;
    margin-top: 165px;
}
.match-photo img{
    width: 567px;
    width: 427px;
}
.op-button{
    margin: 0;
}
/* style of footer part */
footer{
    margin-top: 158px;
    text-align: center;
}
.footer-image img{
    width: 484px;
    height: 110px;
}   
.social-logo .social{
    width: 50px;
    height: 32px;
 
}