@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

/* style of top menu part */
header{
    background-color: #2d25a0;
    background-size: 100%;
    height: 677px;
}
nav{
    width: 1160px;
    height: 44px;
    padding-top: 42px;
    margin-left:130px;
    margin-right: 124px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
.header-part li{
    list-style: none;
}
.navigation-part li{
    margin-right: 36px;
    color: white;
}
.logo-part .fa-sign-in-alt{
    padding-right: 3px; 
}
.logo-part li{
    color: white;
}
.logout li{
    background-color: #e02c6d;
    padding: 2px 5px;
}

/* style of hero part */
.hero-part{
    background-color: #2d25a0;
    display: flex;
}
.banner-info h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    margin-left: 156px;
    margin-top: 207px;
    color: white;
}
.banner img{
    width: 556px;
    height: 438px;
    margin-left: 102px;
    margin-top: 153px;
    overflow: hidden;
}
.banner img:hover{
    transform: scale(1.1) skew(-30deg);
    transition: transform 2s ease ;
}
.link-button{
    background-color: #e02c6d;
    text-decoration: none;
    padding: 7px;
    margin-left: 156px;
    margin-top: 27px;
    color: white;
}
.link-button:hover{
    background-color: blue;
    color: white;
}
/* style of players part */
.player-part{
    width: 1050px;
    margin-top: 100px;
    margin-right: 210px;
}
.player-frame{
    border: 2px solid white;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 1px 1px 40px white;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    margin: 0 180px;
    align-items: center;
}
.player img{
    border-radius: 10px;
    width: 100%;
    height: 256px;
    overflow: hidden;
}
.player img:hover{
    transform: scale(1.1);
    transition: transform 2s ease ;
}
.player-details{
    border-radius: 10px;
    width: 300px;
    height: 154px;
    padding: 5px;
}
.player-detail h2{
    font-size: 28px;
}
/* style of Highlight part */
.optional-part{
    display: flex;
}
.highlight-info{
    width: 489px;
    height: 309px;
    margin-left: 182px;
    margin-top: 200px;
}
.highlight-info h3{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.match-photo{
    margin-left: 66px;
    margin-top: 165px;
}
.match-photo img{
    width: 567px;
    width: 427px;
}
.top-button{
    margin: 0;
}
/* style of partners part */
.partners{
    margin-top: 100px;
    text-align: center;
}
.partners-name{
    box-shadow: 5px 5px 20px rgb(224, 220, 220);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;
    padding: 20px 0;
    padding-left:165px;
}
.partners-name img{
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
/* style of subscribe part */
.subscribe{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.input-type input{
    padding: 15px 3px;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.subscribe-title{
    border: 3px solid black;
    border-radius: 2px;
    padding: 8px;
    margin-left: 2%;
    text-decoration: none;
}
.subscribe-title:hover{
    color: white;
    background-color: blue;
}

/* style of footer part */
footer{
    margin-top: 158px;
    text-align: center;
}
.footer-image img{
    width: 484px;
    height: 110px;
}   
.social-logo .social{
    width: 50px;
    height: 32px;
}
.social-logo .social:hover{
    color: blue;
}

/* Style for Media Query */

/* media query for mobile */
@media only screen and (max-width:688px) {
    /* mobile query for header part */
    header{
        margin-bottom: 677px;
    }
    nav, .header-part{
        width: 100%;
        margin: 0;
        
    }
    .logout li{
        padding: 0;
        margin: 0;

    }
    nav .navigation-part li{
        width: 100%;
        margin-right: 10px;
    } 
/* mobile query for hero part */
   .hero-part{
       flex-direction: column;
   }
   .banner-info h1{
       width: 100%;
       margin-left: 0;
       margin-bottom: 150px;
   }
   .banner-info .link-button{
    
      margin-left: 10px;
   }
   .banner img{
       width: 100%;
       margin-left: 0;
   }
   /* mobile query for players part */
   .player-part{
       width: 100%;
   }
    .players{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
        justify-content: center;
    }
    /* mobile query for optional part */
    .optional-part, .match-photo{
       display: flex;
       flex-direction: column;
        margin-left: 10px;
        margin-top: 10px;
    }
    .optional-part  .highlight-info{
        width: 100%;
        margin: 0;
        margin-top: 100px;
    }
    .highlight-info{
        margin-left: 10px;
    }
    .match-photo img{
        width: 100%;
        margin-top: 100px;
    }
    /* mobile query for partners part */
    .partners .partners-name{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    /* mobile query for subscribe part */

    .subscribe .input-type{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-type input, .subscribe-title{
        margin: 10px;
    } 
    footer{
        width: 100%;
    }
    .footer-image img{
        width: 80%;
    }
    
}
/* media query for tab */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    /* tab query for header part */
    header{
        align-items: center;
        justify-content: center;
        margin-bottom: 560px;
    }
    nav, .header-part{
        width: 100%;
        margin: 0;
        
    }
    .logout li{
        padding: 0;
        margin: 0;

    }
    nav .navigation-part li{
        width: 100%;
        margin-right: 10px;
    } 
/* tab query for hero part */
   .hero-part{
       flex-direction: column;
       align-items: center;
   }
   .banner-info h1{
       width: 100%;
       margin-left: 0;
   }
   .banner-info .link-button{
      margin-left: 10px;
   }
   .banner img{
       width: 100%;
       margin-left: 0;
   }
   /* tab query for players part */
   .player-part{
       width: 100%;
   }
    .players{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        align-items: center;
    }
    /* tab query for optional part */
    .optional-part, .match-photo{
        display: flex;
        flex-direction: column;
         margin-left: 10px;
         margin-top: 10px;
         align-items: center;
     }
     .optional-part  .highlight-info{
         width: 100%;
         margin: 0;
         margin-top: 100px;
         align-items: center;
     }
    /* tab query for partners part */
    .partners .partners-name{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    /* tab query for subscribe part */
    .subscribe .input-type{
        display: flex;
        flex-direction: column;
    }
    .input-type input, .subscribe-title{
        margin: 10px;
    } 

    footer{
        width: 100%;
    }
    .footer-image img{
        width: 90%;
    }
    
}
/* media query for Desktop */
@media only screen and (min-width: 992px){
    /* tab query for players part */
   .player-part{
    width: 100%;
}
 .players{
     grid-template-columns: repeat(3, 1fr);
     margin: 0;
     padding: 0;
     padding-left: 50px;
     align-items: center;
 }
}